.app-header-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFFFFF0A;
    .header{
        width: 100%;
        height: 100px;
        padding: 0 30px;
        &-btn{
            @include auto-button();
        }
    }
}
