.splash-page {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: hidden;
    background-color: #040404;

    &__brand {
        position: fixed;
        inset: 0;
        animation-delay: 0.3s;
    }

    &__logo {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }

    &__tips {
        position: fixed;
        bottom: 30px;
        left: 0;
        color: #8D9094;
        animation-delay: 0.3s;
    }
}
