.splash-page {
    position: relative;
    min-height: 100svh;
    overflow: hidden;
    background-color: #040404;

    &__logo {
        position: fixed;
        bottom: 953px;
        left: 263px;
        width: 224px;
        height: 211px;
        object-fit: contain;
        animation-delay: 0.3s;
    }

    &__tips {
        position: fixed;
        bottom: 30px;
        left: 0;
        color: #8D9094;
        animation-delay: 0.3s;
    }
}
