.empty {
    width: 100%;
    text-align: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 204px;
        height: 210px;
        margin-bottom: 30px;
    }

    &__text {
        color: #808080;
    }
}
